.sidebar {
    min-width: 240px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;

    .topbar {
        height: 50px;
        width: 100%;
        background: #ececec;
        border-bottom: 1px solid #ccc;
    }

    .contacts {
        flex: 1;
        width: 100%;
    }
}
