$primary_selected_background_color: #419fd9;
$primary_selected_text_color: #fff;
$primary_hover_color: #ececec;

@mixin chat-title {
    font-size: .8em;
    font-weight: 600;
}

html,
body {
    height: 100%;
}
