@import '~coreStyles';

.chat-page {
    display: flex;
    flex: 1;
    flex-direction: column;

    .notification-bar {
        background-color: rgba(255, 165, 0, .5);
    }

    .page-wrapper {
        display: flex;
        flex: 1;
        flex-direction: row;

        .divider {
            width: 4px;
            background: #000;
        }

        .chat-wrapper {
            display: inherit;
            flex: 1;
            flex-direction: column;
            background-image: url('./images/background.jpg');
            background-size: 440px 802px;

            .chat-window {
                display: inherit;
                flex: 1;
                flex-direction: column;

                .top-bar {
                    display: inherit;
                    width: 100%;
                    height: $topbar_height;
                    padding: 6px;
                    border-bottom: 1px solid #ccc;
                    background-color: #fff;

                    .chat-info {
                        .title {
                            @include chat-title;
                        }
                    }
                }

                .messages {
                    display: flex;
                    flex-direction: column-reverse;
                    flex-grow: 1;
                }

                .bottom-bar {
                    padding: 5px;
                    border-top: 1px solid #ccc;
                    background-color: #fff;

                    .form-control {
                        padding: 8px 10px;
                        border: none;
                        background-color: #fff;
                        font-size: $main_font_size;

                        &:focus {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.sidebar {
    font-size: 13px;
    font-weight: 700;
    .header {
        height: 134px;
        background-color: $primary_blue_color;
        color: #fff;
    }

    .menu {
        margin: 10px 0;
        .menu-item {
            display: flex;
            align-items: center;
            padding: 20px;

            i {
                padding-right: 20px;
                color: $primary_dark_gray;
                font-size: 24px;
            }

            &:hover {
                background-color: $primary_hover_color;
                cursor: pointer;
            }
        }
    }
}
