@import '~coreStyles';

.chat-page {
    display: flex;
    flex: 1;

    .chat-wrapper {
        display: inherit;
        flex: 1;
        flex-direction: column;

        .top-bar {
            display: inherit;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #ccc;
            background: #ececec;

            .chat-info {
                .title {
                    @include chat-title;
                }
            }
        }

        .messages {
            flex-grow: 1;
        }

        .bottom-bar {
            border-top: 1px solid #ccc;
        }
    }
}
